[Desktop Entry]
Version=1.0
Name=360 Secure Browser
Name[en_GB]=360 Secure Browser
Name[zh_CN]=360安全浏览器
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Web Browser
GenericName[en_GB]=Web Browser
GenericName[zh_CN]=网页浏览器
# Gnome and KDE 3 uses Comment.
Comment=Access the Internet
Comment[en_GB]=Access the Internet
Comment[zh_CN]=访问互联网
Exec=/usr/bin/browser360-cn-stable %U
StartupNotify=true
Terminal=false
Icon=browser360-cn
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Name[en_GB]=New Window
Name[zh_CN]=新建窗口
Exec=/usr/bin/browser360-cn-stable
