[Desktop Entry]
Name=PROJECT_NAME
Name[zh_CN]=PROJECT_NAME
GenericName=PROJECT_NAME
GenericName[zh_CN]=PROJECT_NAME
Comment=PROJECT_NAME
Comment[zh_CN]=PROJECT_NAME
X-GNOME-FullName=PROJECT_NAME
X-GNOME-FullName[zh_CN]=PROJECT_NAME
Exec=/usr/lib/firefox/firefox %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/hicolor/scalable/PROJECT_ICON_NAME
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox
StartupNotify=true
